.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top:32px
}

.logo{
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.8),#c4daed4d);
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);

    width: 120px;

    margin-bottom: 32px;
    padding: 16px;

    border-radius: 20px;
}

.logo__img{
    width: 100%;

    mix-blend-mode: exclusion;
}

@media screen and (min-width: 768px){
    .logo{
        width: 200px;
    }
    
}